* {
    padding: 0;
    margin: 0;
}

body {
    background: #0f0e17;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pemuat {
    --ukuran: 50px;
    --gap: 5px;

    width: calc(2 * (1.353 * var(--ukuran) + var(--gap)));
    aspect-ratio: 1;
    background: linear-gradient(#e53170 0 0) left/50% 100% no-repeat,
        conic-gradient(from -90deg at var(--ukuran) calc(0.353 * var(--ukuran)),
            #fff 135deg,
            #666 0 270deg,
            #aaa 0);
    background-blend-mode: multiply;
    --latar: linear-gradient(to bottom right,
            #0000 calc(0.25 * var(--ukuran)),
            #000 0 calc(100% - calc(0.25 * var(--ukuran)) - 1.414 * var(--gap)),
            #0000 0),
        conic-gradient(from -90deg at right var(--gap) bottom var(--gap),
            #000 90deg,
            #0000 0);
    -webkit-mask: var(--latar);
    mask: var(--latar);
    background-size: 50% 50%;
    -webkit-mask-size: 50% 50%;
    mask-size: 50% 50%;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    animation: bergerak 1.5s infinite;
}

@keyframes bergerak {

    0%,
    12.5% {
        background-position: 0% 0%, 0 0;
    }

    12.6%,
    37.5% {
        background-position: 100% 0%, 0 0;
    }

    37.6%,
    62.5% {
        background-position: 100% 100%, 0 0;
    }

    62.6%,
    87.5% {
        background-position: 0% 100%, 0 0;
    }

    87.6%,
    100% {
        background-position: 0% 0%, 0 0;
    }
}